# SPDX-License-Identifier: MPL-2.0
* text=auto eol=lf

@@LANG_GITATTR_LINE@@
*.adoc  text eol=lf
*.a2ml  text eol=lf
*.yml   text eol=lf
*.yaml  text eol=lf
*.toml  text eol=lf

LICENSES/* text eol=lf
